/* 
    Document   : estilo-global
    Created on : 07-ago-2012, 20:46:37
    Author     : Juan Carlos
    Description:
        Estilo básico de esta aplicación.
        - Elementos básicos
        - Estructura
*/

/**
 -- Estilo Básico
*/
root { 
    display: block;
}
body,html{
    background-color: whiteSmoke;
    margin: 0px;
    padding: 0px;
    height: 100%;
    font: 100% sans-serif;
}
/* Párrafo */
h1,h2,h3,h4,h5,h6{
    text-align: center;
    font-style: oblique;
    font-weight: bold;
}
p{
    margin: 5px;
}


/* Formularios */
form{
    
}
input, textarea{
    margin: 3px;
    padding: 3px;
    height: 30px;
    font-size: 16px;
    border: #dadada 1px solid;
    outline: none;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s;
}
input[type="text"]:focus, textarea:focus{
    border-color:#5ecc5b;
    box-shadow:0 0 5px #5ecc5b;
}
select{
    margin: 3px;
    padding: 3px;
    height: 30px;
    font-size: 16px;
    border: #dadada 1px solid;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
div form{
    display: block;
    width: 50%;
    margin: 0 auto 0 auto;
}
/**
    -- Estructura del layout
*/
#header{
    display: block;
    height:10%;
    width: 100%;
    padding: 15px 5px 10px 5px;
    background: #2F2F2F;
    color: white;
}
#wraper{
    display:block;
    width:70%;
    min-height:70%;
    margin:auto;
    background-color:transparent;
}
#content{
    display: block;
}
#footer{
    display:block;
    height: 20%;
    width: 100%;
    padding: 15px 5px 10px 5px;
    background-color:#2F2F2F;
    color: white;
}


/**
    -- Otros elementos
*/
#view-content{
    padding: 5px;
}
#footer div{
    display: block;
    width: 90%;
    margin: 0 auto 0 auto; 
}
#footer * ul{
    display: block;
    float: left;
    margin-left: 15px;
    list-style-type: none;
    font-size: 14px;
}
#footer * ul li:first-of-type{
    font-size: 16px;
    font-style: oblique;
}
#footer * ul li{
    margin-top:8px;
}
ul.modulos{
    display: block;
    margin-left: 15px;
    list-style-type: none;
}
ul.modulos li{
    text-align: left;
    margin-top: 5px;
    margin-left: 20px;
}
ul.modulos li:first-of-type{
    font-size: 18px;
    font-style: oblique;
    font-weight: bold;
    margin-left: 0px;
}
div.modulos{
    float:left;
    width:50%;
    text-align: center;
}
#headerWraper{
    display: block;
    width: 70%;
    margin: 0 auto 0 auto;
}
#logo{
    float:left;
    height: 200px;
    width: 410px;
}
#menuItems{
    float:left;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#menuItems li{
    float: left;
    margin: 5px;
    padding: 5px;
}
#menuItems li a {
	display:block;
        color: white;
        margin: 5px;
        padding: 5px;
	text-decoration:none;
	text-align:center;
        font-size: 18px;
        font-weight: bold;
}

.tablaDatos{
    border: none;
    border-collapse: collapse;
    margin: 0 auto 0 auto;
}
.tablaDatos tr:hover{
    background-color: #d2d2d2;
}
.tablaDatos tr:first-child{
    text-align: center;
    text-shadow:  0.5px 0.5px 2px whitesmoke;
    font-weight: bold;
    background-color: #4fe14d;
    filter: alpha(opacity=70);
    opacity: 0.7;
    height: 30px;
}
.tablaDatos td{
    padding: 5px;
    text-align: center;
}

.mensajeInformativo{
    display: block;
    width: 70%;
    margin: 0 auto 0 auto;
    padding: 3px;
    border: white 2px solid;
    background-color: #5ecc5b;
    filter: alpha(opacity=70);
    opacity: 0.7;
    text-align: center;
    font-weight: bold;
    color: white;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.mensajeError{
    display: block;
    width: 70%;
    margin: 0 auto 0 auto;
    padding: 3px;
    border: white 2px solid;
    background-color: #d6382e;
    filter: alpha(opacity=70);
    opacity: 0.7;
    text-align: center;
    font-weight: bold;
    color: white;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.paginador{
    margin: 0 auto 0 auto;
    display: block;
    margin-top:20px;
    width: 25%;
}
.boton{
    display: inline-block;
    padding: 8px;
    margin: 5px;
    height: auto;
    background: #5ecc5b;
    border: #42b53f 1px solid;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #d2d2d2;
}
.boton:hover{
    background: #4fe14d;
}